.product-search-page {
    padding: 2rem;
    @include flex(row, flex-start, stretch, 2rem);
    height: calc(100vh - 4rem);

    // overflow: auto;

    // &::-webkit-scrollbar {
    //     display: none;
    // }

    

    .sidebar-toggle-btn {
        display: none; // Hide by default
        position: fixed; // Make it fixed
        top: 1rem; // Position it on the top
        left: 1rem; // Position it on the left
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0,0.9);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        height: 2rem;
        width: 5rem;
        @media (max-width: 1020px) {
            display: block; // Show button when sidebar is closed
        }
    }

    >aside {
        min-width: 20rem;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
        padding: 2rem;
        @include flex(column, flex-start, stretch, 0.5rem);

        transition: transform 0.3s ease;
        transform: translateX(0); // sidebar is visible

        // &.closed {
        //     transform: translateX(-10%); // hide sidebar
        // }
        &.open {
            display: block;
            width: 20rem;
            background-color: white;
            position: fixed;
            z-index: 1000;
            // transform: translateX(0); 
        }

        >h2 {
            @include heading;
        }

        >div {

            >input,
            >select {
                @include inputStyle(100%,
                    1rem,
                    white,
                    1px solid rgba(154, 154, 154, 0.38));
                border-radius: 10px;
                margin: 0.5rem;
            }
        }
    }

   

    >main {
        width: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none
        }

        >h1 {
            @include heading;
        }

        >input {
            @include inputStyle(80%);
            border-radius: 5px;
            margin: 1rem;
            font-size: 1.2rem;
            display: block;
        }

        .search-product-list {
            @include flex(row, space-evenly, flex-start,0);
            flex-wrap: wrap;
            // height: calc(100% - 10rem);

            // overflow-y: auto;

            // &::-webkit-scrollbar {
            //     display: none
            // }

        }

        article {
            @include flex;
            height: 3rem;

            >button {
                @include flex;
                @include btn(0.5rem 1rem, blueviolet, $color1);
                border-radius: 10px;

                &:disabled {
                    cursor: not-allowed;
                    opacity: 0.5;
                    color: $color2;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        // flex-direction: column; // Stack aside and main vertically
        > aside {
            display: none;
            width: 90%; 
            max-width: 20rem;
        }

        > main {
            

            article {
                flex-direction: row; // Keep the button layout horizontal
                justify-content: space-between;
            }
        }
    }

}

